<ion-header class="ion-padding ion-no-border">
  <ion-button class="ion-margin" expand="block" [disabled]="number == 10" (click)="up()">
    <ion-icon name="chevron-up-circle-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content  class="ion-text-center not-scroll">

    <ion-text class="center-content">{{showNumber}}</ion-text>
 
</ion-content>


<ion-footer  class="ion-padding ion-no-border">
  <ion-button class="ion-margin" expand="block" [disabled]="number == 0" (click)="down()">
    <ion-icon name="chevron-down-circle-outline"></ion-icon>
  </ion-button>
</ion-footer>